<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<section class="row">
    <section class ="column">
        <h2>Input API Data Here</h2>
        <form action="/api" method="POST">
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="species name" name="speciesName">
            <textarea rows="5" cols="40" type="text" placeholder="features" name="features"></textarea>
            <input type="text" placeholder="home world" name="homeWorld">
            <input type="text" placeholder="image" name="image">
            <textarea rows="5" cols="40" type="text" placeholder="interesting fact" name="interestingFact"></textarea>
            <input type="text" placeholder="notable examples" name="notableExamples">

            <button type="submit">SUBMIT NEW</button>

            <button type="button" id="updateButton">UPDATE EXISTING</button>

        </form>
    </section>
    <section class ="column">
        <h2>Delete API Data HERE</h2>
        <input type="text" placeholder="name to delete" name="deleteInput" id="deleteInput">
        <button id="deleteButton">DELETE</button>

        <h2>Current Aliens</h2>

        <ul class="aliens">
            <% for(let i=0; i< info.length; i++){%>
                <li class="alien">
                    <span><%= info[i] %></span>
                </li>
            <%} %>
        </ul>
    </section>
</section>





    
    <script type="text/javascript" src="main.js"></script>
</body>
</html>